In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('../input/kickstarter-projects/ks-projects-201801.csv')

In [4]:
df.sample(5)

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real
16961,1085982572,Cosmic Surgery,Photobooks,Photography,GBP,2016-03-25,22000.0,2016-02-26 14:01:20,22318.00,successful,329,GB,31102.93,31936.24,31481.19
238868,284597408,Valor & Briggs (Produced and Co-Written By Mat...,Action,Film & Video,USD,2015-05-13,10000.0,2015-04-22 23:47:32,0.00,failed,0,US,0.00,0.00,10000.00
30932,1157374532,Planting Fields,Fiction,Publishing,USD,2014-03-07,25000.0,2014-02-05 20:19:56,0.00,failed,0,US,0.00,0.00,25000.00
4457,1022802422,'Chapel Perilous' - an interactive performance...,Public Art,Art,USD,2012-08-05,6000.0,2012-07-06 19:27:50,6073.12,successful,125,US,6073.12,6073.12,6000.00
271352,450517036,RETRO STATION S'Kool Of Rock-N-Roll Pop Cultur...,Rock,Music,USD,2016-12-07,3500.0,2016-11-07 20:43:11,50.00,failed,1,US,0.00,50.00,3500.00

In [5]:
df.shape

(378661, 15)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 378661 entries, 0 to 378660
Data columns (total 15 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   ID                378661 non-null  int64
 1   name              378657 non-null  object
 2   category          378661 non-null  object
 3   main_category     378661 non-null  object
 4   currency          378661 non-null  object
 5   deadline          378661 non-null  object
 6   goal              378661 non-null  float64
 7   launched          378661 non-null  object
 8   pledged           378661 non-null  float64
 9   state             378661 non-null  object
 10  backers           378661 non-null  int64
 11  country           378661 non-null  object
 12  usd pledged       374864 non-null  float64
 13  usd_pledged_real  378661 non-null  float64
 14  usd_goal_real     378661 non-null  float64
dtypes: float64(5), int64(2), object(8)
memory usage: 43.3+ MB

In [7]:
df = df[(df['state'] == 'failed') | (df['state'] == 'successful')].copy()

In [8]:
df = df.drop('ID', 1)
df = df.drop('name', 1)
df = df.drop('usd pledged', 1)
df = df.drop('usd_pledged_real', 1)
df = df.drop('backers', 1)

In [9]:
df['launched'] = pd.to_datetime(df['launched'])
df['deadline'] = pd.to_datetime(df['deadline'])

df['duration_days'] = df['deadline'].subtract(df['launched'])
df['duration_days'] = df['duration_days'].astype('timedelta64[D]')

In [10]:
df = df.drop('launched', 1)
df = df.drop('deadline', 1)
df = df.drop('pledged', 1)

In [11]:
df = df[(df['goal'] <= 100000) & (df['goal'] >= 1000)].copy()

In [12]:
df.shape

(278678, 8)

In [13]:
df.head()

,category,main_category,currency,goal,state,country,usd_goal_real,duration_days
0,Poetry,Publishing,GBP,1000.0,failed,GB,1533.95,58.0
1,Narrative Film,Film & Video,USD,30000.0,failed,US,30000.00,59.0
2,Narrative Film,Film & Video,USD,45000.0,failed,US,45000.00,44.0
3,Music,Music,USD,5000.0,failed,US,5000.00,29.0
5,Restaurants,Food,USD,50000.0,successful,US,50000.00,34.0

In [14]:
df['state'] = df['state'].map({'failed': 0,'successful': 1})

In [15]:
df.head()

,category,main_category,currency,goal,state,country,usd_goal_real,duration_days
0,Poetry,Publishing,GBP,1000.0,0,GB,1533.95,58.0
1,Narrative Film,Film & Video,USD,30000.0,0,US,30000.00,59.0
2,Narrative Film,Film & Video,USD,45000.0,0,US,45000.00,44.0
3,Music,Music,USD,5000.0,0,US,5000.00,29.0
5,Restaurants,Food,USD,50000.0,1,US,50000.00,34.0

In [16]:
df = pd.get_dummies(df, columns = ['category'])

In [17]:
df = pd.get_dummies(df, columns = ['main_category'])

In [18]:
df.rename(columns={"main_category_Film & Video": "main_category_Film"}, inplace=True)
print('DONE')

DONE

In [19]:
df = pd.get_dummies(df, columns = ['currency'])

In [20]:
df.shape

(278678, 193)

In [21]:
df = pd.get_dummies(df, columns=['country'])

In [22]:
name = pd.read_csv('../input/kickstarter-projects/ks-projects-201801.csv')

In [23]:
name = name.drop(['ID', 'category', 'main_category', 'currency', 'deadline',
       'goal', 'launched', 'pledged', 'backers', 'country',
       'usd pledged', 'usd_pledged_real', 'usd_goal_real'], 1)
print(name.shape)

name = name[(name['state'] == 'failed') | (name['state'] == 'successful')].copy()
print(name.shape)


name['state'] = name['state'].map({
        'failed': 0,
        'successful': 1         
})

(378661, 2)
(331675, 2)

In [24]:
name['name'] = name['name'].astype(str)

In [25]:
name['name'] = name['name'].str.split()
name.head()

                                                name  state
0             [The, Songs, of, Adelaide, &, Abullah]      0
1  [Greeting, From, Earth:, ZGAC, Arts, Capsule, ...      0
2                                 [Where, is, Hank?]      0
3  [ToshiCapital, Rekordz, Needs, Help, to, Compl...      0
5                           [Monarch, Espresso, Bar]      1

In [26]:
i = 0
for n in name['name']:
    if 'successful' in n:
        i = i+1
    if 'failed' in n:
        i = i+1
        
print(i)

17

In [27]:
import string

In [28]:
name['name'] = name['name'].apply(lambda x:' '.join([i for i in x if i not in string.punctuation]))

In [29]:
name['name'] = name['name'].str.lower()

In [30]:
from nltk.corpus import stopwords
stop = stopwords.words('english')

name['name'] = name['name'].apply(lambda x: ' '.join([word for word in x.split() if word not in (stop)]))

In [31]:
name['name'] = name['name'].str.split()
name.head()

                                                name  state
0                         [songs, adelaide, abullah]      0
1        [greeting, earth:, zgac, arts, capsule, et]      0
2                                            [hank?]      0
3  [toshicapital, rekordz, needs, help, complete,...      0
5                           [monarch, espresso, bar]      1

In [32]:
from nltk.stem.snowball import SnowballStemmer
stemmer = SnowballStemmer("english")
name['name'] = name['name'].apply(lambda x: [stemmer.stem(y) for y in x])

In [33]:
from sklearn.feature_extraction.text import CountVectorizer
vectorizer = CountVectorizer()

In [34]:
bag_of_words = CountVectorizer(tokenizer=lambda doc: doc, lowercase=False).fit_transform(name['name'])

In [35]:
df.shape

(278678, 215)

In [36]:
y = df['state']
y.shape

(278678,)

In [37]:
df = df.drop('state', 1)

In [38]:
from sklearn.model_selection import train_test_split

In [39]:
X_train, X_test, Y_train, Y_test = train_test_split(df,y, test_size = 0.1,random_state=42)

print(X_train.shape, Y_train.shape)
print(X_test.shape, Y_test.shape)

(250810, 214) (250810,)
(27868, 214) (27868,)

In [40]:
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.ensemble import BaggingClassifier
from lightgbm import LGBMClassifier

In [83]:
logreg = LogisticRegression()
logreg.fit(X_train, Y_train)

LogisticRegression()

In [84]:
print('Accuracy for Logistic Regression: {}'.format(round(logreg.score(X_test, Y_test) * 100,3)))

Accuracy for Logistic Regression: 63.955

In [85]:
knn = KNeighborsClassifier()
knn.fit(X_train, Y_train)

KNeighborsClassifier()

In [86]:
ans = round(knn.score(X_test, Y_test) * 100,3)

In [87]:
print('Accuracy for K-Nearest Neighbors Classifier : {}'.format(ans))

Accuracy for K-Nearest Neighbors Classifier : 62.068

In [88]:
abc = AdaBoostClassifier(DecisionTreeClassifier(max_depth=1))
abc.fit(X_train, Y_train)

AdaBoostClassifier(base_estimator=DecisionTreeClassifier(max_depth=1))

In [89]:
ans = round(abc.score(X_test, Y_test) * 100,3)

In [90]:
print('Accuracy for AdaBoostClassifier : {}'.format(ans))

Accuracy for AdaBoostClassifier : 67.095

In [91]:
gbc = GradientBoostingClassifier(max_depth=1, random_state=0)
gbc.fit(X_train, Y_train)

GradientBoostingClassifier(max_depth=1, random_state=0)

In [92]:
ans = round(gbc.score(X_test, Y_test) * 100,3)

In [93]:
print('Accuracy for GradientBoostingClassifier : {}'.format(ans))

Accuracy for GradientBoostingClassifier : 65.211

In [94]:
bagging = BaggingClassifier(KNeighborsClassifier(n_neighbors=8))
bag = bagging.fit(X_train,Y_train)

In [95]:
ans = round(bag.score(X_test, Y_test) * 100,3)

In [96]:
print('Accuracy for BaggingClassifier : {}'.format(ans))

Accuracy for BaggingClassifier : 64.188